.login {
color: white;
 border: 1px solid rgb(177, 177, 177); 
 background-color: black;
 width: 600px;
 height: 500px;
 margin-left: 450px;
 margin-top: 150px;
 border-radius: 20px;
 overflow: hidden;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 50px;
}

.usuario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px;
}

.usuario-form {
  display: flex;
  flex-direction: column;
}

.imagencoche {
  width: 50%;
  height: 100%;
}
.botonlogin {
  border-radius: 10px;
  color: white;
  background-color: black;
}
.labelname {
  border-radius: 50px;
}