.madridc {
  margin-top: 0rem;
  margin-bottom: -4rem;
}
.titulo1 {
  display: flex;
  align-content: center;
  justify-content: center;
  
 
}
.carSharing {
  background-color: #7ba4cf;
  height: 400px;
  background-image: url("../../img/fondoCarsharing.jpg");
  background-size:100% 100%;
  color:green;
  
}
 .color1Car {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.color2Car {
  padding-top: 100px;
  padding-bottom: 5px;
  display: flex;
  background-color: #DEE4F0;
  justify-content: center;

}
.color3 {
  display: flex;
  
  justify-content: center;
    } 
.color4 {
  padding-top: 100px;
  padding-bottom: 1px;
  background-color: #DEE4F0;
}
.color5Car {
  margin-top: 100px;
  display: flex;
  
  justify-content: center;
}
.color6 {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #DEE4F0;
}
.color7 {
  margin-top: 100px;
}
.info {  
}

.radius{
  border-radius: 25px;
}

.backgroundimg {
  background-image: url("../../img/carsharing.jpg");
  
  /* overflow: scroll; */
  height: 45rem;
  width: 90rem;
  min-width: 50rem;
}


.info1Car {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 800px;
  padding: 10px;
  line-height: 2.5 
}
.info2Car {
  margin-left: 20px;
  right: 350px;
  width: 800px;
  padding: 10px;
  line-height: 2.5;
  margin-bottom: 100px; 

}
.info3Car {
  /* margin-left: 20px;
  right: 350px;
  width: 800px;
  padding: 10px;
  line-height: 2.5;
  margin-bottom: 100px; */
}
.info4 {
  /* margin-left: 20px;
  right: 350px;
  width: 800px;
  padding: 10px;
  line-height: 2.5;
  margin-bottom: 100px; */
}
.info5Car {
  margin-left: 20px;
  right: 350px;
  width: 800px;
  padding: 10px;
  line-height: 2.5;
  margin-bottom: 100px;
}
.info6 {
  margin-left: 20px;
  right: 350px;
  width: 800px;
  padding: 10px;
  line-height: 2.5;
  margin-bottom: 100px;
}
.info7 {
  margin-left: 20px;
  right: 350px;
  width: 800px;
  padding: 10px;
  line-height: 2.5;
  margin-bottom: 100px;
}