

.fotitocoche {
}
.titulo{
margin-top: 300px;
  color: white;
}
.infogeneral {
display: flex;
  flex-direction: row; 
  margin-left: 1rem;
  margin-top: 6rem;
}

.informationp {
  margin-right: 4rem;
  margin-left: 2rem;
  margin-top: 3.5rem
}
.quienesomos {
  display: flex;
  justify-content: flex-start;
}
.buttonmasinfo {
  display:flex;
  justify-content: flex-start;
  width: 7rem;
  height: 3rem;
  border-radius: 20%;
}
.buttonmasinfo a:active{
  color: gray;
}
.servicios {
margin-left: -4rem;
  margin-top: 10rem;
}
.backgroundimg {
  background-image: url("../../img/fotodefondo.jpg");
  background-attachment: fixed;
  /* overflow: scroll; */
  height: 45rem;
  width: 90rem;
  min-width: 50rem;
}
.textbackground {
  height: 1000px;
  width: 1000px;
  color: white;
  /* margin-left: -20rem; */
  
}
.iconos {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-top: 5rem;
}
.icono1 {

}
.icono2 {
margin-left: 2rem;
}
.icono3 {

}
.icono4 {

}
.texto {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.h3 {
  width: 100px;
  height: 100px;
}